*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    box-sizing: border-box;
    /* /* background: linear-gradient(135deg, #ea66df57 0%, #0a0213 100%); */
    background: black;
} 

.container{
   width: 650px; 
   border: 6px solid rgba(208, 255, 0, 0.253);
   border-radius: 9px;
   padding: 20px;
   background: rgb(39, 39, 37);
   box-shadow: 1px 4px 5px 6px #888888;
}
input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 24px;

}
.container2{
    display: flex;
    gap: 16px;
}


.digits, .signs, .last-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 0;
} 

button{
    flex: 1;
    max-height: 53px;
    cursor: pointer;
    font-size: 23px
}
h1{
    color: #fffffff8;
    text-shadow: 3px 3px 7px #ffffffc2;
    font-size: 78px;
}

