*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.container{
   max-width: 400px;
   width: 100%; 
   height: 50vh;
   border: 6px solid rgb(255, 0, 234);
}
input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 24px;

}
.container2{
    display: flex;
    gap: 12px;
    height: 50vh;

}
.digit, .sign, .last{
    width: 5em;
}
.digits{
    margin-right: -21px;
    padding-left: 12px;
}
.signs{
    margin-right: -20px;
}
button{
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
h1{
    color:rgba(255, 166, 0, 0.932);
}